<div class="container-fluid">
    <div class="row-fluid">
        <div class="span2">
            <div class="well sidebar-nav">
                <ul class="nav nav-list" id="sidebar">
                    <li class="nav-header">Users</li>
                    <li ng-class="{active: url == 'user/adduser.html'}">
                        <a href ng-click="url = 'user/adduser.html'">Add A New User</a>
                    </li>
                    <li ng-class="{active: url == 'user/userlist.html'}">
                        <a href ng-click="url = 'user/userlist.html'">Users List</a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="span10">
            <div ng-include src="url" ></div>
        </div>
    </div>
</div>