<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.telnet.radius.mapper.NasMapper">
	
	<cache />

	<select id="queryByNasName" parameterType="string" resultType="Nas">
		select * from nas where nasname like '%${nasname}%'
	</select>

	<select id="queryAll" resultType="Nas">
		select * from nas
	</select>


	<insert id="insert" parameterType="Nas">
		insert into nas
		(nasname,shortname,type,ports,secret,community,description,starospassword,ciscobwmode,apiusername,apipassword,enableapi)
		values(#{nasname},#{shortname},#{type},#{ports},#{secret},#{community},#{description},#{starospassword},#{ciscobwmode},#{apiusername},#{apipassword},#{enableapi})
	</insert>

</mapper>