<div class="container-fluid">
    <div class="row-fluid">
        <div class="span2">
            <div class="well sidebar-nav">
                <ul class="nav nav-list">
                    <li class="nav-header">NAS</li>
                    <li ng-class="{active: url == 'nas/addnas.html'}">
                        <a href ng-click="url = 'nas/addnas.html'">Add A New NAS</a>
                    </li>
                    <li ng-class="{active: url == 'nas/naslist.html'}">
                        <a href ng-click="url = 'nas/naslist.html'">NAS List</a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="span10">
            <div ng-include src="url" ></div>
        </div>
    </div>
</div>