<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">

	<servlet-mapping>
		<servlet-name>default</servlet-name>
		<url-pattern>*.js</url-pattern>
		<url-pattern>*.css</url-pattern>
		<url-pattern>*.png</url-pattern>
		<url-pattern>*.gif</url-pattern>
		<url-pattern>*.jpg</url-pattern>
		<url-pattern>*.bpm</url-pattern>
		<url-pattern>*.map</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>dispatcher</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>
				classpath*:dispatcher-servlet.xml
			</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet-mapping>
		<servlet-name>dispatcher</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>


	<filter>
		<filter-name>AdminSessionFilter</filter-name>
		<filter-class>com.telnet.radius.filter.AdminSessionFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>AdminSessionFilter</filter-name>
		<url-pattern>/admin/welcome</url-pattern>
		<url-pattern>/admin/user/*</url-pattern>
		<url-pattern>/admin/plan/*</url-pattern>
		<url-pattern>/admin/report/*</url-pattern>
	</filter-mapping>

	<error-page>
		<error-code>400</error-code>
		<location>/public/static/error-400.jsp</location>
	</error-page>
	<error-page>
		<error-code>404</error-code>
		<location>/public/static/error-404.jsp</location>
	</error-page>
	<error-page>
		<error-code>500</error-code>
		<location>/public/static/error-500.jsp</location>
	</error-page>
</web-app>
